<!DOCTYPE html>
<html>
  <head>
    <title>Convert Team Culturing CSV to Wiki Code</title>
  </head>
  <body>
    <div>
      Convert Team Culturing CSV to Wiki Code
      <button id="convert-button">Convert</button>
    </div>
    <div>
      <textarea rows="30" cols="60" id="csv"></textarea>
      <textarea rows="30" cols="60" id="wiki"></textarea>
    </div>
    <script type="text/template" id="wiki-template">==='''WHO''' are you?===
*''Name'' - <%= name %>
*''Location (city, country)'' - <%= loc %>
*''Contact Information (email, skype, phone)'' - <%= contact %>
*''Picture'' - <%= picture %>
*''Introductory Video'' - <%= video %>
*''Resume/CV'' - <%= cv %>

==='''WHY''' are you motivated to support/develop this work?===
*''Do you endorse open source culture?''
<%= endorse %>

*''Why are you interested in collaborating with us?''
<%= whyCollab %>

*''How do you think that the GVCS can address pressing world issues?''
<%= pressingWorldIssues %>

*''What should happen so that you become more involved with the project?''
<%= moreInvolved %>

*''What is missing in the project?''
<%= whatIsMissing %>

*''What are your suggestions for improvement of the project?''
<%= suggestedImprovements %>

==='''WHAT''' are your skills?===

*'''List all of your skills in these areas: Communications - Organizational - Computer Support - Finances - Design - Natural Building - Electronics - Automation - Metallurgy - Engineering - Fabrication - Agriculture - Energy - Architecture - Video/Graphics/Art - PR/Marketing - Education - Construction - Industry - CNC - Chemistry - Product Design - Other'''
<%= skills %>

*''How have you already contributed to the project?''
<%= howHaveYouContributed %>

===HOW can you help?===

*''How are you interested in contributing to the work of GVCS development?''
<%= whatDoYouWantToDo %>

*''Can you volunteer to work with us, and if so, how many hours per week?''
<%= canYouVolunteer %>

*''Are you interested in working with us for pay? If so, what services can you offer, and what is your hourly or per-project rate?''
<%= workForPay %>

*''Are you interested in a [[Dedicated Project Visit]]?
<%= interestedInVisit %>

*''Are you interested in purchasing equipment from us to help bootstrap development?''
<%= interestedInPurchase %>

*''Are you interested in bidding for consulting/design/prototyping work?''
<%= interestedInBidding %>

*''Are you a [[True Fans|True Fan]]? If not, why not?''
<%= trueFan %>

*''Would you like to see yourself working with us on a full-time basis?''
<%= fullTime %>

*''Are you interested in being part of the world's first, open source, resilient community? The GVCS is the preparatory step for the OSE Village Experiment – a 2 year, immersion experiment (2013-2014) for testing whether a real, thriving, modern-day prototype community of 200 people can be built on 200 acres using local resources and open access to information? We are looking for approximately 200 people to fill a diverse array of roles, according to the Social Contract that is being developed. This may be the boldest social experiment on earth - a pioneering community whose goal is to extend the index of possibilities regarding harmonious existence of humans, ecology, and technology.''
<%= community %>

-----------------------------------------------------------
</script>
    <script type="text/javascript" src="js/jquery-1.7.1.js"></script> 
    <script type="text/javascript" src="js/underscore.js"></script> 
    <script type="text/javascript" src="js/csvconverter.js"></script> 
  </body>
 </html>
